<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <jmxConfigurator/>
   <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%highlight(%date{HH:mm:ss.SSS}) %blue([%thread]) %yellow(%-5level) %green(%logger{36}).%green(%M)[%green(%line)] - %green(%msg%n)</pattern>
      </encoder>
   </appender>

   <root level="INFO">
      <appender-ref ref="CONSOLE"/>
   </root>
</configuration>