<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appender name="LISTAPPENDER"
             class="cn.tuyucheng.taketoday.springcloudgateway.customfilters.gatewayapp.utils.LoggerListAppender">
   </appender>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%highlight(%date{HH:mm:ss.SSS}) %blue([%thread]) %yellow(%-5level) %green(%logger{36}).%green(%M)[%green(%line)] - %green(%msg%n)</pattern>
      </encoder>
   </appender>
   <root level="info">
      <appender-ref ref="LISTAPPENDER"/>
   </root>
   <root level="info">
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>